<!DOCTYPE html>
<html>

<head>

    <title>Edit Profile</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='style.css') }}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">      

</head>

<body>

<a href="/profile" class="back-btn">
    <i class="fa-solid fa-arrow-left"></i>
    Back to Profile
</a>

<div class="profile-container">

    <h1>Edit Profile</h1>

    <form method="POST">

        <input
            type="text"
            name="name"
            value="{{ user.name }}"
            required>

        <input
            type="text"
            name="username"
            value="{{ user.username }}"
            required>

        <input
            type="email"
            name="email"
            value="{{ user.email }}"
            required>

        <button type="submit">

            Save Changes

        </button>

    </form>

</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>